{% extends "base.html" %}

{% block content %}

<style>
    .intervjun{
        width: 70%;
        text-align:left;
    }
    h3{
        font-style: italic;
    }
    #rubrik{
        font-weight: bold;
    }


</style>

<center>
    <div class="intervjun">
<h2 class="display-2">Intervju med fysiker</h2>
    <h3 class="display-5">Filip Hörberger</h3>
    <br><br>
    <p id="rubrik">Vem är du och hur hamnade du här? </p>
    <p>Mitt namn är Filip Hörberger och jag jobbar som sjukhusfysiker på Region Skånes universitetssjukhus här i Lund.
        Jag började plugga 2017 och då utbildningen är fem år lång blev jag färdig förra sommaren. Så nu har jag jobbat
        här i ungefär nio månader. Under utbildningen till sjukhusfysiker har man ett nära samarbeta med sjukhuset som
        universitetet är knutet till och då jag pluggade i Lund fick jag jobbet här på sjukhuset inom strålterapi efter
        min examen. Men som sjukhusfysiker måste man inte jobba inom just strålterapi eller ens på sjukhus. Man kan
        jobba inom MR, magnet resonanskamera, där man tar diagnostiska bilder med magnetfält. Röntgen och
        röntgendiagnostik kan man också jobba med som sjukhusfysiker. Eller kan man jobba med strålsäkerhet och det kan
        man göra i princip var som helst. </p>
    <br>
    <p id="rubrik">Vad är din arbetsuppgift som sjukhusfysiker? </p>
    <p>Som sagt beror det först och främst på vilket område man jobbar inom, men jag som jobbar inom strålterapi har
        väldigt stor variation i mina arbetsuppgifter. Det finns många olika sorters strålningsterapier, exempelvis
        röntgenbehandling som både används för att behandla patienter och ta bilder med. Sedan finns det även gamma- och
        protonbehandling som används vid andra kliniker. Som sjukhusfysiker på sjukhus jobbar man generellt i nära
        samarbete med läkare och behandlingspersonal så att patienten ska få en så bra behandling som möjligt. Där jag
        kommer in är i frågan om en dosplan för en patient kan förbättras eller ändras för att uppnå en viss önskad
        effekt. Vill vi ha mer strålning på tumören på bekostnad av riskorgan eller kan vi ändra på hur patienten ligger
        för att döda så många cancerceller som möjligt? Läkarna är ju experter på den biologiska delen medan vi
        sjukhusfysiker är experter på fysiken bakom behandlingsmetoderna vi använder. Något annat jag gör mycket är att
        verifiera dosplaner så att toleransen mellan den teoretiska planen som görs i datorprogram och den verkliga
        planen som behandlingsmaskinerna faktiskt kan leverera är acceptabel. Man kan säga att vi är bryggan mellan
        läkare och behandlingspersonal då vi bäst förstår behandlingsmetoderna. </p>
    <br>
    <p id="rubrik">Varför valde du detta yrke? </p>
    <p>Jag valde faktiskt sjukhusfysiker för att jag gillade att det var så många olika naturvetenskapliga ämnen inbakad
        i det. Man kombinerar biologi, fysik och matematik i både utbildningen och arbetsdagen. Det är ju mycket
        biologiska frågor då vi jobbar med verkliga patienter som också kopplas till fysiken genom strålningen samtidigt
        som matematiken modellerar allt vi gör. Sedan tycker jag det är skönt att man som sjukhusfysiker kan jobba inom
        så många olika områden. Om jag nu skulle tröttna på strålterapi betyder det inte att jag inte kan gå vidare till
        något annat. Som sagt, det finns ju även strålskyddslagfrågor och miljöfrågor som man handlar om strålningen.
        För min egna skull känns det rätt så skönt att ha den säkerheten i att inte låsa mig fast inom ett yrkesområde. </p>
    <br>
    <p id="rubrik">Vad tycker du då är det roligaste med att jobba som sjukhusfysiker? </p>
    <p>Återigen tycker jag det är väldigt kul att man kombinerar biologi, fysik och matematik på det sättet vi nu gör.
        Jag är även rotations fysiker vilket är en roll där man med jämna mellanrum åker upp till
        protonbehandlingskliniken som Lunds universitetssjukhus deläger med flera kliniker i hela landet. Det är roligt
        då man får möjligheten att prata med sjukhusfysiker från hela landet och höra hur de gör saker annorlunda från
        oss. Man kanske tror att strålterapi görs på samma sätt i hela Sverige men det är alltid lite annorlunda från
        klinik till klinik. Därför kan man lära sig nytt som man kan ta med sig tillbaka för att underlätta för våra
        patienter eller behandling. Sedan är det ju kul att jobba på en så stor universitetsklinik då vi är drivande i
        forskning och tar emot ett stort antal patienter. Det är helt enkelt väldigt givande att jobba på framkanten med
        forskning och patientbehandling. </p>
    <br><br><br>

        </div>
</center>
{% endblock %}
