{% extends "base.html" %}

{% block content %}

<style>
    .intervjun{
        width: 70%;
    }
    h3{
        font-style: italic;
    }
    span{
        font-weight: bold;
    }
    #rubrik{
        font-weight: bold;
    }

</style>

<center>

    <div class="intervjun">
        <h2 class="display-2">Intervju med ingengörer</h2>
        <h3 class="display-6"> Jan (Janne) Lunsjö & Lars Andersson Ljus</h3>
        <br><br>

        <p id="rubrik">Vem är ni och hur hamnade ni här?</p>
        <p><span>Lars: </span>Ska jag börja? Jag börjar. Ja jag heter Lars Andersson Ljus och jag kom hit av mer eller
            mindre en slump. Jag har jobbat länge, sen 1992, och jag läste till Malmö till gymnasieingenjör som det då
            hette på den tiden. När jag gjorde mitt examensarbete kom jag i kontakt med en som jobbar här och sen gick
            det ett par månader och sen så kom det upp en tjänst för en ingenjör här. Jag kom in på mina egna meriter
            såklart. Jag jobbade då mer inom mekanik med verkstadsmaskiner då i början och har varit med och sett
            utvecklingen av behandlingsmaskinerna genom åren fram till idag. Något ganska kul.</p>
        <p><span>Janne: </span>Jag heter Jan Lunsjö och är ganska ny här. Jag har varit anställd här i ett år nu men har
            ett helt yrkesliv bakom mig. De senaste 24 åren har jag jobbat på ett bolag som heter Baxter som tillverkar
            dialysmaskiner. Där har jag jobbat med allt från montör i produktion till ingenjör på utvecklingsavdelningen.
            Jag är gymnasieingenjör i grunden och pluggade också i Malmö, men jag gick byggnadsingenjör och tänkte göra
            karriären inom byggnad men det var lågkonjunktur inom byggbranschen så fanns det knappast några jobb när jag
            tog examen kring 91’, 92’. Då fick jag sadla om och hamnade i medicinteknikbranschen. Varför jag kom hit
            till strålbehandlingsfysiken var lite för att jag inte riktigt trivdes med det jag arbetat med de senaste
            åren och kände det var dags för en omväxling och ville komma närmare tekniken, något jag känt jag gjort nu.</p>
        <br>
        <p id="rubrik">Berätta lite mer om era arbetsuppgifter, hur ser en vardag för er ut? </p>
        <p><span>Lars: </span> Vi har väl rätt så liknande uppgifter ändå. Gemensamt arbete är ju att ta hand om
            behandlingsmaskinerna. Göra service på dem och springa ner till dem när sökartelefonen ringer. Sen har jag
            också lite produktion i verkstaden när fysiker eller någon student behöver hjälp med något projekt eller
            liknande. Nu är det dock inte lika mycket produktion som förut, mycket mer pappersarbeten idag.</p>
        <p><span>Janne: </span>Ja huvudansvaret är ju att hålla maskinerna i gång på ett eller annat sätt. Sen har man
            ju alltid lite mindre sidoprojekt som man håller på med, men man är alltid väldigt nära tekniken och kan
            skruva på muttrar och samtidigt hålla på med nätverk eller programmering som vi ändå också gör en del av.</p>
        <br>
        <p id="rubrik">Vad fick er att välja just ingenjörsyrket?</p>
        <p><span>Lars: </span>Har alltid varit intresserad av teknik, både praktiskt och teoretiskt. Tänkte en
            utbildning som ingenjör eller arkitekt, sen slumpade sig att det blev gymnasieingenjör. Så jobbet på
            strålningsfysik är bra då man både jobbar praktiskt och teoretiskt, var också slumpen som gjorde att jag
            började här då det lediga jobbet plötsligt dök upp när min utbildning var klar.</p>
        <p><span>Janne: </span>För min del hade jag blivit ingenjör på ett eller annat vis oavsett. Men jag trivs väldigt
            bra inom medicinteknik för att det verkligen känns som att man på något sätt påverkar. Jag har tänkt på att
            man kunde ha jobbat för någon telefonjätte och hållit på med mobilskärmar men nej, det tycker jag inte
            lockar mycket. I medicintekniksbranschen gör man ju ändå en förändring för patienten som är sjuk och hjälper
            till att få dem friska.</p>
        <p id="rubrik">Vad är det roligaste med ert jobb? </p>
        <p><span>Lars: </span>Tycker att utmaningarna är roligast ändå. Om man har sökartelefonen så vet man aldrig hur
            dagen blir. När man löser ett problem som ibland kan vara rätt så jobbigt känns det bra. Det känns ju bra
            när man går därifrån och har lyckats. Sen är vi bra på det här i huset att om man har ett problem som man
            inte kan lösa kan man ringa någon som kommer och hjälper att lösa problemet tillsammans.</p>
        <p><span>Janne: </span> Ja, men det är precis problemlösningen jag tycker är jäkligt roligt och det är en
            jättefördel att man inte står med hela lasset liksom. Det är också roligt att ha en grupp med olika
            kompetenser och därmed kunna få hela huset att snurra. </p>
        <br><br><br><br>

    </div>

</center>
{% endblock %}