{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
    p{
       width: 60%;
    }

     @media(max-width: 600px){
        p{
            width: 80%;
        }
    }

</style>

<center>    <h1 class="display-2">Dragskåpet</h1>

    <br>
    <img src="{% static 'home_page/carousel-images/Dragskåpet100%färdigt.jpg' %}" style="max-width: 70%; height: auto;"
         alt="Bild på det färdiga dragskåpet">
    <p style="text-align: right; max-width: 70%; font-style: italic">Dragskåpet, färdigt och monterat</p>
    <br><br><br>
    <h2>Vår uppgift</h2>
    <br>
    <p> Vårt första projekt var att bygga ett dragskåp. Ingenjörerna hade ett projekt i samarbete med några fysiker med
        att göra "tandspacers". Tandspacerna var designade så att tungan hålls på plats när den förs in i munnen. Detta
        skulle användas på patienter som hade hals- och käktumörer så att under behandlingen tungan inte skulle få onödig
        strålning. Tandspacern tillverkas i en speciell 3D-printer som printar i resin. Problemet är att resinet och IPA-badet
        skenan behandlas i luktar dåligt. Detta hoppades vi kunna fixa med att installera ett dragskåp i printerrummet.
        Det blev vår uppgift.
    </p>
    <br><br>

    <h2>Vår tanke och genomförandet</h2>
    <br>
    <p><span style="font-style: italic">Skissen: </span>Vi började med att söka upp exempel på hur dragskåp kan se ut
        samt ta måtten som vi fick förhålla oss till. Sedan började vårt första projekt i Fusion360. Här
        ritade vi upp modeller av 3D-printern och de "baden" som skulle få plats i skåpet. Därefter började vi rita upp
        en grund av själva dragskåpet med sådana mått att allt som skulle få plats, fick plats - inklusive deras
        funktioner. Utifrån detta la vi sedan till lite detaljer på skåpet innan vi printade ut ritningarna och begav
        oss mot verkstaden.</p>
    <p><span style="font-style: italic">Konstruktion: </span>I verkstaden fick vi materialen vi skulle använda - svart PVC
        och plexiglas. Vi fick även lära oss hur maskinerna fungerar. Nu började byggandet av dragskåpet. Först mätte vi
        upp och sågade ut alla delar vi behövde av PVC plasten. Vi borrade, gängade och försänkte skruvhålen. Med hjälp av
        dessa, alla delar och lim kunde vi sedan bygga ihop hela grunden. Även listerna, som taket och falluckan vilar på,
        är fästa på samma sätt. Nu var det dags att såga ut delarna i plexiglas. Dessa skulle också borras skruvhål i
        samt hyvlas ner där vinkelhakarna skulle fästas. I taket borrades sedan hålet till utsuget. Sista skulle
        belysning monteras i skåpet. Vi böjde en plåt som skulle skärma av ljuset i form av en självhäftande LED-list.
        Skärmen monterades sedan i framkant på skåpet och LED-listen klistrades upp. För att kunna få ljuslistens switch
        på utsidan av skåpet borrade vi därför upp ett hål även här. Detta tätades dock slutligen med silicon.
        Avslutningsvis borrade vi upp ett hål för alla sladdar på baksidan av skåpet, innan skåpet monterades på sin
        slutliga plats.</p>
    <br><br>

    <h2>Resultatet</h2>
    <br>
    <p>Som kan ses på bilden överst på denna sida, så lyckades projektet med dragskåpet. Utsuget är kopplat och
        utrustningen i skåpet är inkopplade. Skåpet är rymligt att arbeta i och det luktar mycket mindre i övriga rummet.
        ameran som ni också kan se i bilden är vårt andra projekt, för att kunna ha koll på printern. Mer om detta kan
        ni läsa om under <a href="/webkamera" style="color: purple; font-weight: bold;">Webkameran</a>.</p>
    <br><br>

</center>


{% endblock %}
