{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
    p{
        width: 60%;
    }
    a{
        color: purple;
    }
    a:hover{
        color: #eacef4;
    }

      @media(max-width: 600px){
        p{
            width: 80%;
        }
    }

</style>

<style>
        *{scroll-behavior: smooth;
            }
        .scrollTop{
            position: fixed;
            bottom: 30px;
            right: 30px;
            padding: 10px 15px;
            background-color: #000;
            color: #eacef4;
            border-radius: 5px;
            border-radius: 1px solid #fff;
            cursor: pointer;
            transition: all 0.5s ease 0s;
            }
        .scrollTop:hover{
            background-color: #eacef4;
            color: #000;
            }
        .boldText{
            font-family: Calibri;
            font-weight:bold;
            width: 36rem;
            justify-content: center;
        }
        .centreradDiv{
        display: flex;
        justify-content: center;
        text-align: center;
        }


@media screen and (max-width: 1400px){
    #bildText2{
        padding: 0 10%;
    #bildText{
        padding: none;
    }

}


    </style>





<center>    <h1 class="display-2">3D-printing med CAD</h1>

    <br>
    <div class="d-flex justify-content-center" style="max-width: 80%;">
    <img src="{% static 'home_page/carousel-images/ModelleringiCAD.png' %}" style="max-width: 50%;"
         alt="Screenshot på TB i Fusion360">
    <img src="{% static 'home_page/project-images/CAD-Fusion360/ScannerTrueBeam.jpg' %}" style="max-width: 50%; height: auto;"
         alt="Bild på en färdig utskrift av scanner-TB:n">


        </div>
    <div class="d-flex justify-content-center" style="max-width: 100%">
    <p id="bildText" style="max-width: 80%; font-style: italic; padding: 0 20%">Modellering av en TB i Fusion360</p>
    <p id="bildText2" style="max-width: 80%; font-style: italic">3D-printad TB till scanner-projektet</p>
        </div>
    <br><br><br>
    <h2>Design i Fusion360</h2>
    <br>
    <p>Vi hade tidigare använt Fusion360 för att rita upp enklare saker, så som <a href="/dragskapet">dragskåpet</a> och <a
            href="/webkamera">kamerastativet</a>. Nu behövde vi lära oss det på riktigt när vi skulle ta oss an mer
        avancerade modeller. Här körde vi mest på taktiken att pröva oss fram och lära av varandra, men det
        dröjde inte jättelänge innan vi båda kände att vi börjat förstå programmet och hittat ett eget sätt för hur
        vi tyckte det var bäst att jobba - två helt olika sätt.</p>
    <br><br>
    <h2>Scanner-projektet</h2>
    <h4>Vår uppgift</h4>
    <br>
    <p> Idéen till detta projektet är ett samarbete mellan ingenjörerna och oss själva. Efter att ha varit här i några
        veckor hade vi lagt märke till att scannrarna där patienterna scannar in sig nog hade trillat ner och den satt nu
        upphängd med tejp - någon form av nödlösning. Vi frågade därför ingenjörerna om detta var något som vi skulle
        kunna fixa och det visade sig att de hade tänkt likadant.</p>
    <br>
    <h4>Genomförandet</h4>
    <br>
    <p>Vi kom på den enligt oss briljanta idéen att designa scannerhållarna så att de liknade stålningsmaskinerna här -
        en <a href="/maskiner">TB</a> och en <a href="/maskiner">Radixact</a>. Scannern som sitter vid avdelningen med
        TBs skulle få en TB-scannerhållare och scannern vid Radixacten skulle få en radixact-hållare.</p>
    <p><span style="font-style: italic">Fusion360: </span>Vi valde varsin maskin och började designa och rita upp den i
        Fusion360. Vi båda gjorde tre/fyra versioner innan vi kände oss nöjda och redo att börja testa skriva ut i
        3D-printern. </p>
    <p><span style="font-style: italic">3D-printern: </span>Här gjorde vi lite olika med de två modellerna. För att testa
        Radixacten skrev vi ut enskilda delar i fullstorlek för att kolla så att allt passade, med TB skrev vi stället
        ut en miniatyr av hela modellen. Här valde vi också att skriva ut i lite olika material för att komma fram till
        vad som är bäst. Efter att ha sett vår modell i verkligheten valde vi båda att ändra lite i designen för att
        utskriften skulle bli så bra som möjligt och för att garantera att scannern skulle få plats. Även upphängningen
        valde vi båda att ändra. Efter att ha optimerat både modellen, materialet och inställningarna på printern,
        började vi sedan att skriva ut de riktiga modellerna i verklig storlek. Det krävdes en hel del filament och vi
        fick byta rullar ett antal gånger. Trots de långa utskriftstiderna så blev (nästan) alla våra utskrifter bra på
        första försöket.</p>
    <br>
    <h4>Resultatet</h4>
    <br>
    <p> Problemet som uppstod när vi var färdiga med våra modeller var att de var för otympliga för att faktiskt användas.
        Patienter hade haft det svårt att förstå hur de skulle skanna sina kort för att bli inloggade. Vi misstänkte också att
        estetiken skulle kunna distrahera från funktionen. Så nu har vi pensionerad modellerna på vårt kontor där de istället
        får vara en symbol för hur långt vi kommit i vårt lärande.
    </p>
    <br><br>

    <h2>Mini-maskiner</h2>
    <h4>Vår uppgift</h4>
    <br>
    <p>Ingenjörerna kom på idéen att vi skulle kunna göra små mekaniska minimodeller av strålningsmaskinerna. Både i
        utbildningssyfte och som en leksak när det är barn här. Vi skulle alltså både efterlikna maskinerna och få de
        att röra sig som de riktiga maskinerna. Här valde vi att byta maskin med varandra, så vi båda skulle få designa
        en TB och en Radixact.</p>
    <br>
    <h4>Genomförandet</h4>
    <br>
    <p><span style="font-style: italic">Fusion360: </span>Den här gången kände vi oss bekanta med Fusion360 och själva modell ritandet
        gick väldigt snabbt. På nån dag hade vi båda fått fram en design som vi var nöjda med, i första versionen. Även
        mekaniken var färdig strax efter och vi kunde börja skriva ut modellen i 3D-printern.</p>
    <p><span style="font-style: italic">3D-printern: </span>Modellerna funkade helt okej och efter några mindre ändringar kunde vi
        skriva ut två fullt fungerade minimaskiner. För att mekaniken i modellerna skulle kunna fungera var vi både
        tvungna att dela upp modellen i olika delar som sedan monterades ihop efter utskrift. Det gjorde dels att vi fick
        tänka ett steg till när vi ritade i Fusion360 på hur det enkelt skulle kunna monteras, men ändå vara möjligt att
        öppna i utbildningssyfte. Dels krävs lite tid för montering av varje modell efter utskrift.</p>
    <br>
    <h4>Resultatet</h4>
    <br>
    <p>Resultatet blev riktigt bra och vi funderar på att starta en massproduktion av minimaskiner - som en kul grej både för
        patienterna och personalen. Kort sagt så blev vi väldigt nöjda och mini-maskinerna är både snygga och fungerar som
        vi tänkt oss.</p>
    <br><br>

</center>



<div onclick="scrollToTop()" class="scrollTop">TILL TOPPEN</div>



<script>
    function scrollToTop(){
        window.scrollTo(0, 0);
}
</script>


{% endblock %}
