{% extends "base.html" %}

{% block content %}
{% load static %}


<style>
    .toprubrik {
        font-size:60px;
    }
    .underrubrik {
        font-size:30px;
    }


    @media screen and (max-width: 600px){
        .toprubrik {
            font-size:40px;
            padding:0 0 10px 0;
        }
        .underrubrik {
            font-size:25px;
            font-family: calibri;
        }
        p {
            font-size:20px;
        }
    }


</style>


<body>
    <div style="text-align:center; padding: 60px 0; position:static;">

        <h1 class="toprubrik">Tekniksprånget hos Region Skåne</h1>

        <h3 class="underrubrik">Strålningsfysiken på Lunds Universitetssjukhus</h3>

        <br>
        <br>
        <br>

        <div class="d-flex justify-content-center">
            <div style="width:65rem;">
                <hr style="height:3px; border-width:0 color:#630875; background-color:#630875">
            </div>
        </div>

        <br>

        <div class="d-flex justify-content-center">
            <div style="position:relative; max-width:60rem; font-size:25px;">
                <p style="font-family: calibri;"> Välkommen till hemsidan gjord och designad av tekniksprångarna hos Region Skåne våren 2023! Vi har
                    genomfört vår praktik på Strålningsfysiken på Lunds Universitetssjukhus igenom praktikprogrammet
                    Tekniksprånget. Syftet med denna hemsidan är att konkret sammanfatta och kommunicera arbetet vi gjort
                    samt verksamheten som bedrivs på vår arbetsplats och av vår arbetsgivare.
                </p>
                <p style="font-family: calibri;">
                    En del av vårt uppdrag är att visa upp yrkesrollen som ingenjör och inspirera andra unga att sikta
                    efter högre tekniska utbildningar. Nedanför kan du därmed hitta information om verksamheten på
                    Strålningsfysiken, våra och ingenjörernas arbetsuppgifter med mera.
                </p>
            </div>
        </div>

        <br>

        <div class="d-flex justify-content-center">
            <div style="width:65rem;">
                <hr style="height:3px; border-width:0 color:#630875; background-color:#630875">
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="row">
        {% for home in home_page %}
         <div class="col">
            {% endfor %}
        </div>
    </div>


<!-- Style for carousel
    .carousel-item bestämmer var och utseendet på fönstret till bilden i carouselen
    .carousel-image bestämmrr formatet på bilderna i carouselen
    -->
    <style>
        .carousel-background {
            position: relative;
            height: 50rem;
            max-width: 80rem;
            display: flex;
            justify-content: center;
            background-color:#462773;
            border-radius:3%;
        }
        .carousel-item {
            height:50rem;
            width:80rem;
            position: relative;
        }
        .carousel-image {
            position:relative;
            max-width:40rem;
            height:30rem;
            left:5%;
            top:10rem;
        }
        .carousel-text {
            position:absolute;
            bottom:25%;
            left:40rem;
            width:40rem;
        }
        .carousel-rubrik {
            font-size:50px;
        }
        .carousel-dialog {

        }
        .carousel-caption{
            text-align:left;
            position: absolute;
        }
        .carousel-text1 {
            position:absolute;
            bottom:35%;
            left:40rem;
            width:40rem;
        }


        @media screen and (max-width: 1050px){

            .carousel-background{
                position: relative;
                height:50rem;
                width:20rem;
                display: flex;
            }
            .carousel-item {
                position: relative;
                height:50rem;
                width:20rem;
            }
            .carousel-image {
                position:relative;
                width:16rem;
                height:12rem;
                left:10%;
                top:5rem;
            }
            .carousel-text {
                position:relative;
                height:20rem;
                width:20rem;
                left:0rem;
                top:10rem;
            }
            .carousel-text1 {
                position:relative;
                height:20rem;
                width:20rem;
                left:0rem;
                top:5rem;
            }
            .carousel-rubrik {
                font-size:20px;
            }
            .carousel-dialog {
                font-size:15px
            }

        }

    </style>


    <!-- Carousel med bilder -->
    <div class="d-flex justify-content-center">
        <div class="carousel-background">
            <div id="myCarousel" class="carousel slide">

                <div class="carousel-button_boxes">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                        </ol>
                </div>

                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="carousel-image">
                            <div class="d-flex justify-content-center">
                                <img src="{% static 'home_page/information-images/Strålfysiken_i_Lund.jpg' %}"
                                     style="carousel-image; border-radius:5%" class="img-fluid d-block w-100"
                                     alt="Image not found">
                            </div>
                        </div>


                        <div class="carousel-text">
                            <div class="carousel-caption">
                                <h1 class="carousel-rubrik">Verksamheten på Strålfysiken</h1>
                                <p class="carousel-dialog">Idag drabbas var tredje svensk av cancer någon gång under sitt liv. Detta gör cancer
                                    till en av de vanligaste och mest förödande sjukdomar i samhället. Därför är
                                    verksamheten som bedrivs på Strålningsfysiken bland de viktigaste inom den svenska
                                    sjukvården.
                                </p>
                                <a href="/stralningsfysik" type="button" class="btn btn-outline-light">Läs mer om
                                    verksamheten på Strålningsfysiken</a>
                            </div>
                        </div>
                    </div>


                    <div class="carousel-item">
                        <div class="carousel-image">
                            <div class="d-flex justify-content-center">
                                <img src="{% static 'home_page/machine-images/TB04mörk.jpg' %}" style="carousel-image;
                                border-radius:5%" class="img-fluid d-block w-100" alt="Image not found">
                            </div>
                        </div>

                        <div class="carousel-text">
                            <div class="carousel-caption">
                                <h1 class="carousel-rubrik">Behandlings-maskinerna på Strålfysiken</h1>
                                <p class="carousel-dialog"> För en lyckad strålbehandling krävs det en maskin som kan leverera rätt dos på rätt
                                    ställe. På Strålningsfysiken i Lund finns det 10 olika linjäracceleratorer, 2 maskiner
                                    för brakyterapi samt diverse isotopterapi apparater.
                                </p>
                                <a href="/maskiner" type="button" class="btn btn-outline-light">Läs mer om strålbehandlings-maskinerna</a>
                            </div>
                        </div>
                    </div>


                    <div class="carousel-item">
                        <div class="carousel-image">
                            <div class="d-flex justify-content-center">
                                <img src="{% static 'home_page/carousel-images/OmOss.jpg' %}"
                                     style="carousel-image; border-radius:5%" class="img-fluid d-block w-100"
                                     alt="Image not found">
                            </div>
                        </div>

                        <div class="carousel-text1">
                            <div class="carousel-caption">
                                <h1 class="carousel-rubrik">Om oss</h1>
                                <p class="carousel-dialog">Vilka är vi som gjort denna hemsidan och hur hamnade vi här?
                                    Vad fick oss att söka till Tekniksprånget och vad har vi tyckt om vår praktik. Detta
                                    och mer svarar vi på i <span style="font-style: italic">Om oss</span>.
                                </p>
                                <a href="/om_oss" type="button" class="btn btn-outline-light">Läs mer om oss</a>
                            </div>
                        </div>
                    </div>


                    <div class="carousel-item">
                        <div class="carousel-image">
                            <div class="d-flex justify-content-center">
                                <img src="{% static 'home_page/carousel-images/RegionSkåne.jpg' %}" style="carousel-image;
                                border-radius:5%" class="img-fluid d-block w-100" alt="Image not found">
                            </div>
                        </div>

                        <div class="carousel-text">
                            <div class="carousel-caption">
                                <h1 class="carousel-rubrik">Intervjuer med anställda</h1>
                                <p class="carousel-dialog"> Är du nyfiken på vad en ingenjör kan jobba med på ett sjukhus? Eller har du ögonen
                                    på sjukvården och undrar hur det är att jobba inom den branschen? Läs då intervjuerna
                                    med ingenjörer och sjukhusfysiker på Strålfysiken.
                                </p>
                                <a href="/intervju" type="button" class="btn btn-outline-light">Till intervjuerna</a>
                            </div>
                        </div>
                    </div>


                    <div class="carousel-item">
                        <div class="carousel-image">
                            <div class="d-flex justify-content-center">
                                <img src="{% static 'home_page/carousel-images/ModelleringiCAD.png' %}"
                                     style="carousel-image; border-radius:5%" class="img-fluid d-block w-100"
                                     alt="Image not found">
                            </div>
                        </div>

                        <div class="carousel-text">
                            <div class="carousel-caption">
                                <h1 class="carousel-rubrik">3D-modellering med CAD</h1>
                                <p class="carousel-dialog"> En av sakerna vi har hållit på med allra mest under vår praktik är arbete i
                                    CAD miljö, computer-aided design. Idag är CAD tillsammans med programmering en av
                                    ingenjörernas främsta verktyg.
                                </p>
                                <a href="/fusion" type="button" class="btn btn-outline-light">Läs mer om CAD</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>

    <br>
    <br>
    <br>

    <!-- Litegran om Tekniksprånget -->
    <div style="text-align:center; padding:8%; position:static;">
        <div class="d-flex justify-content-center">
            <div style="width:65rem;">
                <hr style="height:3px; border-width:0 color:#630875; background-color:#630875">
            </div>
        </div>
        <br>

        <h3 style="font-size:36px;font-family: calibri;">Vad är Tekniksprånget?</h3>

        <br>
        <div class="d-flex justify-content-center">
            <div style="position:relative; max-width:60rem; font-size:25px;">
                <p class="dialogruta">Tekniksprånget är en unik satsning där regeringen tillsammans med arbetsgivare bedriver praktikprogram
                    för att öka intresset för ungdomar att läsa vidare till högre tekniska utbildningar. Detta görs för
                    att stärka Sveriges kompetensförsörjning och bedrivs av Kungliga Ingenjörsvetenskapsakademin, IVA.
                    Verksamheten började 2012 och har under sina 11 år tillsammans med 220 olika arbetsgivare kunnat ge
                    praktikplatser till över 6000 ungdomar varav 75% av dessa ansett att praktiken påverkat deras val av
                    en högre teknisk utbildning. </p>
                <p style="font-family: calibri;">Genom en fyra månaders betald praktik på över 100 olika orter i Sverige får ungdomar chansen att
                    uppleva och lära sig om ingenjörsyrket samt en bredare inblick i arbetslivet som väntar, nästan
                    oavsett ens utbildning. Man får följa med ingenjörerna på sin arbetsplats och lära sig om hur man
                    arbetar just där eller i den branschen. Din tid på praktikplatsen kan variera med allt ifrån
                    studiebesök till reguljära arbetsuppgifter eller egna projekt. Det är både lärorikt och roligt
                    samtidigt som det är en unik chans som inte finns inom många andra yrken. Testa och bli Tekniksprångare!</p>
            </div>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <div style="width:65rem;">
                <hr style="height:3px; border-width:0 color:#630875; background-color:#630875">
            </div>
        </div>
    </div>

</body>

<br><br><br>
{% endblock %}