{% extends "base.html" %}

{% block content %}
{% load static %}

<body>
    <div style="text-align:center; padding:60px; position:static;">

        <h1 style="font-size:50px;">Tekniksprånget hos Region Skåne</h1>
        <h3 style="font-size:30px">Strålningsfysiken på Lunds Universitetssjukhus</h3>

        <br>

            <div style="position:relative; width:60rem; left:10rem; font-size:20px;">
                <p>Hej OCH välkommen till våran hemsida. Vi är ju då två människor som gått tekniksprånget på Strålfysiken på Lunds
                universitetssjukhus under våren 2023. Syftet med denna hemsidan är att nå ut till er intresserade och berätta om
                allt det vi gjort här med tekniksprånget och vilka våra arbetsgivare är. Ni SKA vara imponerade av denna hemsidan,
                för vi är bäst.</p>
            </div>

    </div>
    <div class="row">
        {% for home in home_page %}
         <div class="col">
            {% endfor %}
        </div>
    </div>


<!-- Style for carousel
    .carousel-item bestämmer var och utseendet på fönstret till bilden i carouselen
    .carousel-image bestämmrr formatet på bilderna i carouselen
    -->
    <style>
        .carousel-background {
            position: relative;
            height: 50rem;
            width: 80rem;
            display: flex;
            justify-content: center;
            background-color:#462773;
            border-radius:3%;
        }
        .carousel-item {
            height:50rem;
            width:80rem;
            position: relative;
        }
        .carousel-image {
            position:relative;
            width:40rem;
            height:30rem;
            left:5%;
            top:10rem;
        }
        .carousel-text {
            position:absolute;
            bottom:25%;
            left:40rem;
            width:40rem;
            text-align:left;
        }

    </style>


    <!-- Carousel med bilder -->
    <div class="d-flex justify-content-center">
        <div class="carousel-background">
            <div id="myCarousel" class="carousel slide">

                <div class="carousel-button_boxes">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                        </ol>
                </div>

                <div class="carousel-inner">

                    <div class="carousel-item active"style="badckground-color:black;">
                        <div class="carousel-image">
                            <div class="d-flex justify-content-center">
                                <img src="{% static 'home_page/information-images/Strålfysiken_i_Lund.jpg' %}"
                                     style="carousel-image; border-radius:5%" class="img-fluid d-block w-100"
                                     alt="Image not found">
                            </div>
                        </div>

                        <div class="carousel-text">
                            <div class="carousel-caption d-none d-md-block" style="text-align:left;">
                                <h1 style="font-size:50px;">Verksamheten på Strålfysiken</h1>
                                <p>En dialog för att testa storleken på texten och hur den sammarbetar med resten av
                                av carouselen. Det är av yttersta vikt att denna informationen presenteras på ett så
                                snyggt och konkret sätt. Både för att främja tekniksprånget men också att viss upp ens
                                kommunitiva förmågor.</p>
                                <a href="/home_page/stralningsfysik" type="button" class="btn btn-outline-light">Nämen se här!
                                Sikken fin frimärksbok min bäste herre har!</a>
                            </div>
                        </div>
                    </div>


                    <div class="carousel-item" style="badckground-color:red;">
                        <div class="carousel-image">
                            <div class="d-flex justify-content-center">
                                <img src="{% static 'home_page/machine-images/TB04mörk.jpg' %}" style="carousel-image;
                                border-radius:5%" class="img-fluid d-block w-100" alt="Image not found">
                            </div>
                        </div>

                        <div class="carousel-text">
                            <div class="carousel-caption d-none d-md-block" style="text-align:left;">
                                <h1 style="font-size:50px;">Behandlings-maskinerna på Strålfysiken</h1>
                                <p>En dialog för att testa storleken på texten och hur den sammarbetar med resten av
                                av carouselen. Det är av yttersta vikt att denna informationen presenteras på ett så
                                snyggt och konkret sätt. Både för att främja tekniksprånget men också att viss upp ens
                                kommunitiva förmågor.</p>
                                <a href="/home_page/utrustning" type="button" class="btn btn-outline-light">Nämen se här!
                                Sikken fin frimärksbok min bäste herre har!</a>
                            </div>
                        </div>
                    </div>


                    <div class="carousel-item">
                        <div class="carousel-image">
                            <div class="d-flex justify-content-center">
                                <img src="{% static 'home_page/carousel-images/Dragskåpet100%färdigt.jpg' %}"
                                     style="carousel-image; border-radius:5%" class="img-fluid d-block w-100"
                                     alt="Image not found">
                            </div>
                        </div>

                        <div class="carousel-text">
                            <div class="carousel-caption d-none d-md-block" style="text-align:left;">
                                <h1 style="font-size:50px;">Om oss</h1>
                                <p>En dialog för att testa storleken på texten och hur den sammarbetar med resten av
                                av carouselen. Det är av yttersta vikt att denna informationen presenteras på ett så
                                snyggt och konkret sätt. Både för att främja tekniksprånget men också att viss upp ens
                                kommunitiva förmågor.</p>
                                <a href="/home_page/om_oss" type="button" class="btn btn-outline-light">Nämen se här!
                                Sikken fin frimärksbok min bäste herre har!</a>
                            </div>
                        </div>
                    </div>


                    <div class="carousel-item" style="badckground-color:yellow;">
                        <div class="carousel-image">
                            <div class="d-flex justify-content-center">
                                <img src="{% static 'home_page/carousel-images/slide2.png' %}" style="carousel-image;
                                border-radius:5%" class="img-fluid d-block w-100" alt="Image not found">
                            </div>
                        </div>

                        <div class="carousel-text">
                            <div class="carousel-caption d-none d-md-block" style="text-align:left;">
                                <h1 style="font-size:50px;">Intervjuer med anställda</h1>
                                <p>En dialog för att testa storleken på texten och hur den sammarbetar med resten av
                                av carouselen. Det är av yttersta vikt att denna informationen presenteras på ett så
                                snyggt och konkret sätt. Både för att främja tekniksprånget men också att viss upp ens
                                kommunitiva förmågor.</p>
                                <a href="/home_page/intervju" type="button" class="btn btn-outline-light">Nämen se här!
                                Sikken fin frimärksbok min bäste herre har!</a>
                            </div>
                        </div>
                    </div>


                    <div class="carousel-item">
                        <div class="carousel-image">
                            <div class="d-flex justify-content-center">
                                <img src="{% static 'home_page/carousel-images/ModelleringiCAD.png' %}"
                                     style="carousel-image; border-radius:5%" class="img-fluid d-block w-100"
                                     alt="Image not found">
                            </div>
                        </div>

                        <div class="carousel-text">
                            <div class="carousel-caption d-none d-md-block" style="text-align:left;">
                                <h1 style="font-size:50px;">3D-modellering med CAD</h1>
                                <p>En dialog för att testa storleken på texten och hur den sammarbetar med resten
                                av carouselen. Det är av yttersta vikt att denna informationen presenteras på ett så
                                snyggt och konkret sätt. Både för att främja tekniksprånget men också att viss upp ens
                                kommunitiva förmågor.</p>
                                <a href="/home_page/fusion" type="button" class="btn btn-outline-light">Nämen se här!
                                Sikken fin frimärksbok min bäste herre har!</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>

    <div class="d-flex justify-content-center"><div style="width:90rem;"><hr style="height:1px; border-width:0 color:black; background-color:black"></div></div>

    <!-- Litegran om Tekniksprånget -->
    <div style="text-align:center; padding:60px; position:static;">

        <h3 style="font-size:30px">Vad är Tekniksprånget?</h3>

        <br>

            <div style="position:relative; width:60rem; left:10rem; font-size:20px;">
                <p>Sannolikheten att du inte vet vad tekniksprånget är uppskattar vi som väldigt låg, men vi är fult medvetna att kunskap aldrig ska tas för givet. Därför tänker vi berätta lite gran om tekniksprånget här och nu. Buckle your seatbealts buckaroo, we are going into the outback</p>
            </div>

    </div>

</body>

<br><br><br>
{% endblock %}