{% extends "base.html" %}

{% block content %}
{% spaceless %}
<!--
<img src="..." class="img-fluid" alt="Responsive image">
-->
<br>
<br>




<center>
    <div style="color:purple">
    <h1>Kontakta oss</h1>
    </div>
    <br><br><br>
    <h4>Har du frågor till oss?</h4>
      <br>
    <div>Tveka inte att höra av dig på </div>

    <h3 class="blackText" style="color: #A668B2;">lustekniksprang@gmail.com</h3>

    <hr>
 <!--   <div class="purpleText">Vi svarar så fort vi kan</div> -->

</center>

<br><br><br><br><br><br><br>
{% endspaceless %}
{% endblock %}