{% extends "base.html" %}


{% block content %}

<style>
    .foundation {
        font-family:calibri;
        position:relative;
        width:70rem;
        height:200rem;
        text-align:center;
    }
    .text-container {
        text-align:left;
        font-family:calibri;
        font-size:20px
    }
</style>

<br><br><br>

<div class="d-flex justify-content-center">
    <div class="foundation">

        <h1 style="">Behandlingsmaskinerna på strålfysiken</h1>

        <br>

        <div class="text-container">
            <p> Idag står strålning för 30 procent av all bot mot cancer samtidigt som hälften av alla cancerpatienter
                får någon form av strålbehandling under sin behandling. Därmed används strålbehandling för både kurativ
                och palliativ vård. Ibland sätts strålbehandlingen in en tid före ett kirurgiskt ingrepp för att
                avlägsna en tumör. Då är syftet att försöka minska tumören så att den lättare kan avlägsnas. Sedan kan
                motsatta strategi användas exempelvis efter en bröstcanceroperation för att försöka eliminera eventuella
                kvarvarande tumörceller.
            </p>
            <p> Högenergisk strålning som används vid behandling av cancer syftar på att skada tumörcellernas arvsmassa.
                När strålningen kommer in i kroppens vävnader samverkar de och bildar elektriskt laddade partiklar som
                skadar tumörens DNA. Detta gäller även för friska celler i vävnader man inte vill stråla, men tumörer
                har sämre reparationsförmåga och tar därmed större skada av strålningen. Det är i och med det sambandet
                man anser att strålbehandling är ett godtyckligt sätt att behandla cancer. Följaktligen är man väldigt
                försiktig med strålning då det kan ge upphov till allvarliga bieffekter. Därför vill man helst använda
                den senaste och säkraste tekniken för att säkerställa patientens säkerhet och effektivisera behandlingen.
                Då Strålningsfysiken är del av Skånes Universitetssjukhus är forskning en viktig del av kliniken. Därmed
                behöver man den senaste tekniken även för att vara med i framkanten av utvecklingen inom strålbehandlingen.
            </p>
            <p> Huvudsakligen hamnar strålbehandling inom två övergripande områden, extern strålbehandling där
                strålkällan är utanför kroppen och intern strålbehandling där strålkällan placeras invid eller i tumören.
                Idag behandlas de allra flesta patienterna på Strålningsfysiken med extern behandling.
            </p>
        </div>

        <br>

        <div class="d-flex justify-content-center">
            <div style="width:80em;">
                <hr style="height:3px; border-width:0 color:#630875; background-color:#630875">
            </div>
        </div>

        <br><br><br>

        <h1 style="">Behandlingsmaskiner med externa strålkällor</h1>

        <br>

        <div class="text-container">



        </div>

        <br>

        <div class="d-flex justify-content-center">
            <div style="width:80em;">
                <hr style="height:3px; border-width:0 color:#630875; background-color:#630875">
            </div>
        </div>

        <br><br><br>

        <h1 class="">Behandlingsmaskiner med interna strålkällor</h1>
        <br>
        <div class="text-container">
            <h2 style="text-align:center;">Isotopterapi</h2> <br>
            <p> Isotopterapi (även kallad molekylär strålbehandling) är också en form av strålbehandling mot cancer, men
                det fungerar på att helt annat sätt än de externa strålbehandlingarna på TB och Radixacten. Här får
                patienten istället ett radioaktivt ämne antingen intravenöst eller oralt. Det radioaktiva ämnet kommer
                sedan att färdas via blodomloppet och den naturliga ämnesomsättningen till målorganet eller vävnaden, i
                de flesta fallen en cancertumör.
            </p>
            <p> Det finns flera olika radioaktiva ämnen som används vid isotopterapi – vilket ämne eller vilken isotop
                som används beror på vad det är som ska behandlas och ämnets/isotopens egenskaper. Gemensamt för alla
                radioaktiva ämnen är dock deras korta halveringstid, alltså att de kommer att ha en väldigt kort
                strålperiod. Anledningen till att det radioaktiva ämnet hittar till tumören är tack vare så kallade
                markörämnen. Dessa är också specifika och väljs medvetet ut beroende på tumörens egenskaper och
                behandling. Det hittas hela tiden allt fler och specifika markörämnen, vilket gör isotopterapi till en
                allt vanligare behandling.
            </p>
            <p> Isotopterapi används både som diagnostikmetod och som behandling. Vid avbildningsundersökningarna före
                behandling använd samma markörämne som vid behandling, fast med ett mindre radioaktivt ämne kopplat till
                sig. Detta för att se hur tumören absorberar strålningen och hur strålningen sprids till omkringliggande
                vävnad och organ. Utifrån detta kan man sedan beräkna behandlingsdosen och dess effekt.
            </p>
            <p> Cancer i sköldkörteln är det som idag står för flest isotopbehandlingar. Isotopterapi tillhör
                standardbehandlingen för just denna typ av cancer.  Behandlingen är även vanlig att använda för palliativ
                behandling av metastaser i skelettet, men kan såklart användas för andra behandlingar också.
            </p>
            <p> Den största skillnaden mellan isotopbehandling och “vanlig” extern strålbehandling är att efter
                isotopterapi kommer patienten fortsätta stråla några timmar/dager beroende på det injicerade preparatets
                halveringstid (dock ingen jättehög stråldos). Under extern strålbehandling så försvinner strålningen i
                samma sekund som maskinen stannar och varken rummet eller patienten kommer att stråla något efter behandling.
            </p>
        </div>
        <br><br>
        <h2 style="text-align:center;">Brakyterapi</h2> <br>
        <div class="text-container">
            <p> Brachyterapi, även kallad “inre strålbehandling” är en behandling av cancer om går ut på att en
                strålkälla placeras i eller precis intill tumören. Brachy används mest vid behandling av cancer i
                livmoder, bröst, prostata eller hud, men fungerar på många fler cancertyper. Behandlingen kan kombineras
                med kirurgi, extern strålbehandling eller kemoterapi, men kan också användas enskilt. Tack vare att man
                placerar en intern strålkälla, kommer strålningen endast att påverka en lokal del av kroppen, runt
                strålkällan. Detta gör både att vi kommer att få minskat strålning till frisk vävnad och att vi på så
                sätt kan höja dosen till tumören utan att riskera skador på omliggande vävnad och organ. En annan positiv
                sak med brachy är att strålkällan hela tiden håller in exakt position i förhållande till tumören -
                oberoende av hör du rör dig under behandlingen.
            </p>
            <p> Brachyterapi har flera fördelar gentemot extern strålbehandling. Förutom de ovan nämnda, så kräver en
                botande behandling färre fraktioner, vilket bidrar till ett snabbare behandlingsförlopp. Under loppet av
                en vecka brukar hela behandlingen vara färdig. Brachybehandlingen tillhör även en del av öppenvården,
                vilket gör det enkelt för de flesta att få behandlingen. Brachy är som sagt effektiv mot många cancertyper,
                samtidigt som det är en låg risk för allvarliga biverkningar. Dessutom verkar många tåla behandlingen
                mycket bra. Det finns alltså många fördelar med brachyterapi. Effektiviteten på maskinerna skulle dock
                tala emot brachyterapi, under en dag kan en extern bahandlingsmaskin behandli ca 20 patienter, på brachy
                hinns bara med 2 patienter per dag.
            </p>
            <p> Det finns flera alternativ vid en brachybehandling. Strålkällan kan både placeras i tumören
                (interstitiell behandling) och intill tumören (kontaktbehandling). Dosraten - strålningsnivån till
                omgivande material - kan variera från låg (max 2Gy/h) till hög (min. 12Gy/h). Dosraten kan även vara
                pulserande - låg, pulserande dosrat brukar jämställas med hög dosrat. Vilken dosrat beror på vilken typ
                av cancer som ska behandlas. Även bestrålningens varaktighet kan skilja. Det finns både temporär och
                permanent brachyterapi. Den temporära behandlingens behandlingstillfällen varar under in viss tid, allt
                från några minuter till flera timmar. Den permanenta behandlingen innebär att radioaktiva pellets
                placeras antingen i eller intill tumören. Den kommer sedan att sitta där och stråla konstant till dess
                att strålningen långsamt avtagit till en obefintlig strålnivå. Pelleten kommer då att vara kvar i
                kroppen, men den kommer inte lägre att stråla. Beroende av vilket ämne pelleten består av kan den
                stråla i allt från några veckor till flera månader.
            </p>
            <p> Brachybehandling har funnits sedan 1901, men började användas mer flitigt under 60-talet, då de
                fjärrstyrda brachymaskinerna kom. Det är alltså en mycket beprövad metod som bara blivit bättre och
                bättre efterhand som 3D-avbildning, bildtagningssystem och dosplaneringssystem tillkommit sedan
                1900-talets mitt.
            </p>
        </div>

    </div>
</div>




<br><br><br>

{% endblock %}