{% extends "base.html" %}


{% block content %}

<style>
    .foundation {
        font-family:calibri;
        position:relative;
        width:70rem;
        height:100rem;
        text-align:center;
    }
    .text-container {
        text-align:center;
        font-family:calibri;
        font-size:20px
    }
</style>

<br><br><br>

<div class="d-flex justify-content-center">
    <div class="foundation">

        <h1 style="">Behandlingsmaskinerna på strålfysiken</h1>

        <br>

        <div class="text-container">
            <p> Idag står strålning för 30 procent av all bot mot cancer samtidigt som hälften av alla cancerpatienter
                får någon form av strålbehandling under sin behandling. Därmed används strålbehandling för både kurativ
                och palliativ vård. Ibland sätts strålbehandlingen in en tid före ett kirurgiskt ingrepp för att
                avlägsna en tumör. Då är syftet att försöka minska tumören så att den lättare kan avlägsnas. Sedan kan
                motsatta strategi användas exempelvis efter en bröstcanceroperation för att försöka eliminera eventuella
                kvarvarande tumörceller.
            </p>
            <p> Högenergisk strålning som används vid behandling av cancer syftar på att skada tumörcellernas arvsmassa.
                När strålningen kommer in i kroppens vävnader samverkar de och bildar elektriskt laddade partiklar som
                skadar tumörens DNA. Detta gäller även för friska celler i vävnader man inte vill stråla, men tumörer
                har sämre reparationsförmåga och tar därmed större skada av strålningen. Det är i och med det sambandet
                man anser att strålbehandling är ett godtyckligt sätt att behandla cancer. Följaktligen är man väldigt
                försiktig med strålning då det kan ge upphov till allvarliga bieffekter. Därför vill man helst använda
                den senaste och säkraste tekniken för att säkerställa patientens säkerhet och effektivisera behandlingen.
                Då Strålningsfysiken är del av Skånes Universitetssjukhus är forskning en viktig del av kliniken. Därmed
                behöver man den senaste tekniken även för att vara med i framkanten av utvecklingen inom strålbehandlingen.
            </p>
            <p> Huvudsakligen hamnar strålbehandling inom två övergripande områden, extern strålbehandling där
                strålkällan är utanför kroppen och intern strålbehandling där strålkällan placeras invid eller i tumören.
                Idag behandlas de allra flesta patienterna på Strålningsfysiken med extern behandling.
            </p>
        </div>

        <br>

        <div class="d-flex justify-content-center">
            <div style="width:80em;">
                <hr style="height:3px; border-width:0 color:#630875; background-color:#630875">
            </div>
        </div>

        <br><br><br>

        <h1 style="">Behandlingsmaskiner med externa strålkällor</h1>

    </div>
</div>




<br><br><br>

{% endblock %}