{% extends "base.html" %}


{% block content %}
{% load static %}

<style>
    .foundation {
        font-family:calibri;
        position:relative;
        width:70rem;
        height:350rem;
        text-align:center;
    }
    .text-container {
        text-align:left;
        font-family:calibri;
        font-size:20px
    }
</style>

<br><br><br>

<div class="d-flex justify-content-center">
    <div class="foundation">

        <h1 style="">Behandlingsmaskinerna på strålfysiken</h1>
        <br>

        <div class="text-container">
            <p> Idag står strålning för 30 procent av all bot mot cancer samtidigt som hälften av alla cancerpatienter
                får någon form av strålbehandling under sin behandling. Därmed används strålbehandling för både kurativ
                och palliativ vård. Ibland sätts strålbehandlingen in en tid före ett kirurgiskt ingrepp för att
                avlägsna en tumör. Då är syftet att försöka minska tumören så att den lättare kan avlägsnas. Sedan kan
                motsatta strategi användas exempelvis efter en bröstcanceroperation för att försöka eliminera eventuella
                kvarvarande tumörceller.
            </p>
            <p> Högenergisk strålning som används vid behandling av cancer syftar på att skada tumörcellernas arvsmassa.
                När strålningen kommer in i kroppens vävnader samverkar de och bildar elektriskt laddade partiklar som
                skadar tumörens DNA. Detta gäller även för friska celler i vävnader man inte vill stråla, men tumörer
                har sämre reparationsförmåga och tar därmed större skada av strålningen. Det är i och med det sambandet
                man anser att strålbehandling är ett godtyckligt sätt att behandla cancer. Följaktligen är man väldigt
                försiktig med strålning då det kan ge upphov till allvarliga bieffekter. Därför vill man helst använda
                den senaste och säkraste tekniken för att säkerställa patientens säkerhet och effektivisera behandlingen.
                Då Strålningsfysiken är del av Skånes Universitetssjukhus är forskning en viktig del av kliniken. Därmed
                behöver man den senaste tekniken även för att vara med i framkanten av utvecklingen inom strålbehandlingen.
            </p>
            <p> Huvudsakligen hamnar strålbehandling inom två övergripande områden, extern strålbehandling där
                strålkällan är utanför kroppen och intern strålbehandling där strålkällan placeras invid eller i tumören.
                Idag behandlas de allra flesta patienterna på Strålningsfysiken med extern behandling.
            </p>
        </div> <!-- Intro info -->

        <br>
        <div class="d-flex justify-content-center">
            <div style="width:80em;">
                <hr style="height:3px; border-width:0 color:#630875; background-color:#630875">
            </div>
        </div>
        <br><br><br>

        <h1 style="">Behandlingsmaskiner med externa strålkällor</h1>

        <br>

        <div class="text-container">
            <p> På Strålningsfysiken finns det 10 maskiner som har strålkällan och därmed behandlingen externt var de i
                sin tur kan delas upp i två typer av maskiner, TomoTherapy och TrueBeam. Båda typer av maskiner använder
                sig av en extern strålkälla och integrerad bildtagningsteknik, två skillnader är maskinernas rörelse
                samt strålfältets form och därmed vilka typer av cancer som de lämpar sig bäst att behandla.
            </p>
            <br>
            <h2 style="text-align:center;">TomoTherapy</h2>
            <br>

            <div class="d-flex justify-content-center">
                <img src="{% static 'home_page/machine-images/Radixact.jpg' %}" alt="Bild på Isotopterapi" style="width:25rem;
                height:25rem;">
            </div>
            <div class="d-flex justify-content-center">
            <div style="width:30rem"> <p style="font-style:italic;">Bild på behandlingsmaskinen Radixact</p></div>
            </div>
            <p> TomoTherapy är strålbehandling som kombinerar en linjäraccelerator med CT-bildtagning. De har en 360
                graders rotation och har på så sätt inte samma begränsningar som en TB. De har även flyttbara britsar i
                3 led, likt de nyaste modellerna av TB. Detta bedrar till att hålla koll p dosen och minskar på så sätt
                stråldosen till frisk vävnad. TomoTherapy bygger på tre huvudprinciper - första är daglig CT-bildtagning
                som är integrerad i behandlingsprocessen. Den andra är den obegränsade rotationen och MLC bladen som
                tillsammans kan maximera dosen till target och minimera den till frisk vävnad. MLC bladen i TomoTherapy
                har, till skillnad från TB, bara två lägen - inne eller ute. Den tredje huvudprincipen är bild-guidad
                leverering av strålning. TomoTherapy kan leverera strålningen på två sätt - spiralformat genom metoden
                TomoHelical och från fasta vinklar genom TomoDirect. Det förstnämnda är bra på att behandla långa
                volymer och targets, då den klarar detta utan att bryta det longitudinella fältet. Här strålar alltså
                maskinen under tiden som den snurrar runt target. TomoDirekt strålar däremot endast i statiska fält,
                vilket är bättre för mindre eller mer kompakta tumörer.
            </p>
            <p> Den tidigaste versionen av behandlingsmaskin med TomoTherapy kallas Tomo. Denna hade MVCT bildtagning.
                Detta har dock utvecklats och den senaste versionen, Radixact har kVCT bildtagning. KVCT (eller ClearRT
                som TomoTherapy kallar det) ger mer högupplösta bilder vilket gör det lättare att skilja tumör från
                friska vävnad. Detta ger även högre precision under själva behandlingen då bildtagningen är integrerad
                i behandlingen. KVCT bildtagning även under förberedelsefasen kan hjälpa läkarna att rita ut tumör och
                riskorgan mer exakt, men det bidrar också till att läkarna kan fatta bättre beslut angående en patients
                behandling.
            </p>
            <p> Syncrony är en ny teknik lanserad tillsammans med radixacten och består både av hård- och mjukvareteknologi.
                Den ska ge personlig anpassning av strålbehandlingen i realtid genom synkronisering av strålfältets och
                tumörens position under behandlingen. Genom kVCT bildtagningen kan den notera både yttre och inre
                rörelser som påverkar tumörens position och genom detta anpassa strålfältet under behandlingens gång.
                Detta gör hela behandlingen mycket mer precis och personlig.
            </p>
        </div> <!-- Tomo -->
        <br><br><br>

        <div class="text-container">
            <h2 style="text-align:center;">TrueBeam</h2>
            <div class="d-flex justify-content-center">
                <img src="{% static 'home_page/machine-images/TRUEBEAMVARIAN.jpg' %}" alt="Bild på Isotopterapi" style="width:30rem;
                height:22.5rem;">
            </div>
            <div class="d-flex justify-content-center">
            <div style="width:30rem"> <p style="font-style:italic;">Bild på behandlingsmaskinen TrueBeam</p></div>
            </div>
            <p> TrueBeam även kallad TB är en klassisk linjäraccelerator tillverkad av Varian. Sedan lanseringen 2010 är
                det Varians mest sålda maskin och finns på tusentals kliniker världen över. Grundprincipen i en linacc
                är att elektroner skjuts ut av en gun. Dessa kommer sedan att accelereras med hjälp av radiovågor
                genererade av en klystron. Elektronerna kommer att färdas genom ett acceleratorrör och böjs sedan av med
                hjälp av ett antal böjmagneter. Elektronerna träffar därefter ett target. Detta target består vanligtvis
                av Wollfram. När elektronerna träffar wolframet kommer det genom växelverkan att skapas energi i form av
                fotoner. Det är dessa som är strålningen. Fotonstrålningen kommer sedan att formas med hjälp av olika
                blyplattor och till sist MLC (MultiLeafCollimator). MLC består av massor av små blyblad som kontrollerat
                rör sig för att blockera och forma strålningen efter tumörens form i just den vinkeln.
            </p>
            <p> TB har ett ytscanning- och bildåtergivningssytem som kallas Catalyst. Detta skannar av ytan på patienten
                vilket dels underlättar vid uppläggning – genom ett färgkorrdinerat system projicerat på patienten kan
                du se precis hur patienten måste flytta sig för att ligga optimalt för den bestämda behandlningen. Dels
                möjliggör detta en behandlingsteknik kallad gating. Gating är andningsreglerad strålbehandling -
                bestrålning endast vid inandning. Tack vare Catalyst kan maskinen avgöra läget på patientens bröstkorg
                och på så sätt avgöra om den kan stråla eller inte. Om patienten andas ut innan en viss delbehandling
                är färdig. Kommer maskinen automatiskt att bryta strålning. Catalyst kan även under vanlig behandling
                skanna av hur patienten ligger i förhållande till behandlingsplanen. Skulle detta skilja för mycket
                kommer maskinen bryta strålningen även här.
            </p>
            <p> TB har ett statiskt fält på max 40 x 40 cm. Ska man behandla tumörer som är större än detta kommer det
                behövas två olika uppläggningar och alltså mer än dubbla behandlingstiden. Då är TomoTherapy ett bättre
                alternativ. Även TB kan behandla samtidigt som gantryt roterar, denna metod kallas här för ARC. Dock är
                det fortfarande endast fältet på 40 x 40 som kan behandlas. En nackdel med ARC är också att TB endast
                kan röra sig 180 grader åt varje håll, alltså en rörlighet på max. 360 grader, vilket kommer att begränsa
                behandlingsplanerna något. Den vanligaste behandlingen på TB är dock från fasta vinklar, vilket också är
                den behandlingsteknik som de är bäst på.

            </p>
        </div> <!-- TB -->

        <br><br><br>
        <div class="d-flex justify-content-center">
            <div style="width:80em;">
                <hr style="height:3px; border-width:0 color:#630875; background-color:#630875">
            </div>
        </div>
        <br><br><br>

        <h1 class="">Behandlingsmaskiner med interna strålkällor</h1>
        <br>

        <div class="text-container">
            <h2 style="text-align:center;">Isotopterapi</h2> <br>
            <p> Isotopterapi (även kallad molekylär strålbehandling) är också en form av strålbehandling mot cancer. Här
                får patienten istället ett radioaktivt ämne antingen intravenöst eller oralt. Det radioaktiva ämnet kommer
                sedan att färdas via blodomloppet och den naturliga ämnesomsättningen till målorganet eller vävnaden, i
                de flesta fallen en cancertumör.
            </p>
            <p> Det finns flera olika radioaktiva ämnen som används vid isotopterapi – vilket ämne eller vilken isotop
                som används beror på vad det är som ska behandlas och ämnets/isotopens egenskaper. Gemensamt för alla
                radioaktiva ämnen är dock deras korta halveringstid, alltså att de kommer att ha en väldigt kort
                strålperiod. Anledningen till att det radioaktiva ämnet hittar till tumören är tack vare så kallade
                markörämnen. Dessa är också specifika och väljs medvetet ut beroende på tumörens egenskaper och
                behandling. Det hittas hela tiden allt fler och specifika markörämnen, vilket gör isotopterapi till en
                allt vanligare behandling.
            </p>
            <p> Isotopterapi används i syfte av både diagnostik och behandling. Vid avbildningsundersökningarna före
                behandling använd samma markörämne som vid behandling, fast med ett mindre radioaktivt ämne kopplat till
                sig. Detta för att se hur tumören absorberar strålningen och hur strålningen sprids till omkringliggande
                vävnader och organ. Utifrån detta kan man sedan beräkna behandlingsdosen och dess effekt.
            </p>
            <p> Isotopterapi används idag allra mest inom behandlingen mot sköldkörtelcancer. Isotopterapi tillhör
                standardbehandlingen för just denna typ av cancer.  Behandlingen är även vanlig att använda för palliativ
                behandling av metastaser i skelettet, men kan även användas för andra behandlingar också.
            </p>
            <p> Den största skillnaden mellan isotopbehandling och “vanlig” extern strålbehandling är att efter
                isotopterapi kommer patienten fortsätta stråla några timmar/dager beroende på det injicerade preparatets
                halveringstid. Dock är det en väldigt svag strålning. Under extern strålbehandling så försvinner strålningen i
                samma sekund som maskinen stannar och varken rummet eller patienten kommer att stråla något efter behandling.
            </p>
        </div> <!--Isotopterapi  -->
        <img src="{% static 'home_page/machine-images/Isotopterapi.gif' %}" alt="Bild på Isotopterapi">
        <div class="d-flex justify-content-center">
            <div style="width:30rem"> <p style="font-style:italic;">Bild på hur isotopterapi fungerar</p></div>
        </div>
        <br><br><br><br><br>

        <h2 style="text-align:center;">Brakyterapi</h2> <br>
        <div class="text-container">
            <p> Brachyterapi, även kallad “inre strålbehandling” är en behandling av cancer om går ut på att en
                strålkälla placeras i eller precis intill tumören. Brachy används mest vid behandling av cancer i
                livmoder, bröst, prostata eller hud, men fungerar på många fler cancertyper. Behandlingen kan kombineras
                med kirurgi, extern strålbehandling eller kemoterapi, men kan också användas enskilt. Tack vare att man
                placerar en intern strålkälla, kommer strålningen endast att påverka en lokal del av kroppen, runt
                strålkällan. Detta gör både att vi kommer att få minskat strålning till frisk vävnad och att vi på så
                sätt kan höja dosen till tumören utan att riskera skador på omliggande vävnad och organ. En annan positiv
                sak med brachy är att strålkällan hela tiden håller in exakt position i förhållande till tumören -
                oberoende av hör du rör dig under behandlingen.
            </p>
            <p> Brachyterapi har flera fördelar gentemot extern strålbehandling. Förutom de ovan nämnda, så kräver en
                botande behandling färre fraktioner, vilket bidrar till ett snabbare behandlingsförlopp. Under loppet av
                en vecka brukar hela behandlingen vara färdig. Brachybehandlingen tillhör även en del av öppenvården,
                vilket gör det enkelt för de flesta att få behandlingen. Brachy är som sagt effektiv mot många cancertyper,
                samtidigt som det är en låg risk för allvarliga biverkningar. Dessutom verkar många tåla behandlingen
                mycket bra. Det finns alltså många fördelar med brachyterapi. Effektiviteten på maskinerna skulle dock
                tala emot brachyterapi, under en dag kan en extern bahandlingsmaskin behandli ca 20 patienter, på brachy
                hinns bara med 2 patienter per dag.
            </p>
            <p> Det finns flera alternativ vid en brachybehandling. Strålkällan kan både placeras i tumören
                (interstitiell behandling) och intill tumören (kontaktbehandling). Dosraten - strålningsnivån till
                omgivande material - kan variera från låg (max 2Gy/h) till hög (min. 12Gy/h). Dosraten kan även vara
                pulserande - låg, pulserande dosrat brukar jämställas med hög dosrat. Vilken dosrat beror på vilken typ
                av cancer som ska behandlas. Även bestrålningens varaktighet kan skilja. Det finns både temporär och
                permanent brachyterapi. Den temporära behandlingens behandlingstillfällen varar under in viss tid, allt
                från några minuter till flera timmar. Den permanenta behandlingen innebär att radioaktiva pellets
                placeras antingen i eller intill tumören. Den kommer sedan att sitta där och stråla konstant till dess
                att strålningen långsamt avtagit till en obefintlig strålnivå. Pelleten kommer då att vara kvar i
                kroppen, men den kommer inte lägre att stråla. Beroende av vilket ämne pelleten består av kan den
                stråla i allt från några veckor till flera månader.
            </p>
            <p> Brachybehandling har funnits sedan 1901, men började användas mer flitigt under 60-talet, då de
                fjärrstyrda brachymaskinerna kom. Det är alltså en mycket beprövad metod som bara blivit bättre och
                bättre efterhand som 3D-avbildning, bildtagningssystem och dosplaneringssystem tillkommit sedan
                1900-talets mitt.
            </p>
        </div> <!--Brakyterapi  -->

    </div>
</div>




<br><br><br>

{% endblock %}