{% extends "base.html" %}

{% block content%}
<div>
<center>
    <h1 class="display-2">Strålningsfysik Region Skåne</h1>


    <br>
    <br>
    <br>
    <br>
    <br>
    <img src="" style="max-width: 70%; height: auto" alt="Bild på 'Färglada huset'">
    <p class="float-end" style="right: 50px">BildtextBildtextBildtext</p>
    <br>
    <br>
    <br>

   <!--  <table class="infobox" style="border-spacing:5px">
        <tbody>
            <tr>
                <td colspan="2" class style="padding:2px; text-align:center; font-size: 125%; font-weight: bold; background: #b0c4de">Snabbfakta
                </td>
            </tr>
        </tbody>
        </table> -->



    <div style="max-width:70%">
    <h2>Historia</h2>
    <p>här skriver vi lite om Stålfysikens historia på region Skåne</p>
    <br>
    <br>
    <h2>Administrativ struktur</h2>
    <p>Här skriver vi lite om vad det nu handlar om</p>
    <br><br>
    <h2>Univeristetssjukhus</h2>
    <p>Här skriver vi lite om hur det fungerar att tillhöra ett universitetssjukhus. Kanske något om Flash??</p>
    <br><br>
    <h2>Yrkesgrupper</h2>
    <p>Här brättar vi lite kortfattat om vilka yrkesgrupper som finns här och va de gör. Kankse hänvisar till intervjuerna?? dfhkjdfgdf gdfbd fhgejrysegs hfserfyuqrtf sgd hgsfeawrewtfegadasdfg hsdf uae rkawuvd</p>
    <br><br><br>
        <hr>
    <h2>Region Skåne</h2>
    <p>Här skriver vi lite om Region Skåne i allmänhet</p>
        </div>


 </center>
</div>

{% endblock %}


     <div class="infobox bg-copper-50">
    <p>Infobox</p>
    </div>