{% extends "base.html" %}

{% block content%}
{% load static %}


<style>
    .body-section{
        display: flex;
        margin: 5px 10px;
        max-width: 100%
    }

    h3{
        padding: 3px;
        font-size: 150%;
        font-weight: bold;
        background: #eacef4;
        border-radius: 10px 10px 0 0;
    }

    .sidebar{
        width: 20%;
        height: 300px;
        border-radius: 10px;
        background-color: #ecebeb;
        text-align: center;
        color: black;
        border: 2px solid purple;
        font-size: 10;
        border-spacing: 5px;
        padding: 5px;
        margin: 40px 0;
    }


    .main-body{
        width: 68%;
        height: relative;
        border-radius: 15px;

        text-align: center;
        margin: 0 0 0 150px;
        padding: 20px 150px 20px;
    }


@media (max-width: 770px){
    .body-section{
        display: block;
    }
   .main-body{
        width: 100%;
        height: relative;
        margin: 10px 0 10px 0;
   }
   .side{
        width: 100%;
        height: 70px;
        text-align: center;
   }
}

.fakta{
    font-size: 14px;
}

.underrubrik{
    color: purple;
    font-weight: bold;
}
</style>

 <style>
        *{scroll-behavior: smooth;
            }
        .scrollTop{
            position: fixed;
            bottom: 30px;
            right: 30px;
            padding: 10px 15px;
            background-color: #000;
            color: #fed2f2;
            border-radius: 5px;
            border-radius: 1px solid #fff;
            cursor: pointer;
            transition: all 0.5s ease 0s;
            }
        .scrollTop:hover{
            background-color: #fed2f2;
            color: #000;
            }
        .boldText{
            font-family: Calibri;
            font-weight:bold;
            width: 36rem;
            justify-content: center;
        }
        .centreradDiv{
        display: flex;
        justify-content: center;
        text-align: center;
        }


    </style>



<div>
    <center>
        <br>
        <h1 class="display-2">Strålningsfysik Region Skåne</h1>


        <br>
        <br>
        <br>
        <br>
        <img src="{% static 'home_page/information-images/Strålfysikhuset.jpg' %}" style="max-width: 70%; height: auto"
             alt="Bild på 'Färglada huset'">
        <p style="text-align: right; max-width: 70%">Strålfysikhuset - a.k.a Färgglada Huset</p>
        <br>
        <br>
        <br>

        <!--  <table class="infobox" style="border-spacing:5px">
             <tbody>
                 <tr>
                     <td colspan="2" class style="padding:2px; text-align:center; font-size: 125%; font-weight: bold; background: #b0c4de">Snabbfakta
                     </td>
                 </tr>
             </tbody>
             </table> -->

        <div class="body-section">


            <div class="main-body">
                <div style="max-width:90%">
                    <h2>Historia</h2>
                    <p>Skånes universitetssjukhus (SUS) grundades 2010 genom en sammanslagning av sjukhusen i Lund och
                        Malmö och är idag fortfarande huvudsakligen stationerad på dess orter. Med ca 12000 anställda
                        och en årlig budget på ungefär 14 miljarder, räknas SUS som det tredje största sjukhuset i
                        Sverige. Här finns fler än 100 olika yrkesgrupper som tillsammans arbetar för att hjälpa de
                        drygt 1100 patienter som dagligen vårdas här. SUS bedriver en högspecialiserad vård och
                        utbildning samt forskning inom en mängd områden. Sjukhuset har ett trettiotal olika
                        verksamhetsområden, bland annat "Onkologi och strålningfysik".</p>
                    <br>
                    <br>
                    <h2>Onkologi och stålningsfysik</h2>
                    <p>Idag jobbar ca 900 personer inom onkologi och strålningsfysik på SUS. Här avnänds både joniserande och
                        icke-joniserande stårlning, vilket inkluderar både diagnostik och terapi med radioaktiva ämnen.
                        Strålfysik är även huvudansvariga för strålsäkerheten i hela Region Skåne.</p>

                    <p><span style="font-weight: bold">Onkologi</span> är en allmän term för diagnostik och behandling
                        av olika typer av tumörsjukdomar, vilket är precis vad detta verksamhetsområd har hand om. Här
                        jobbar främst forskare och läkare med diagnos och icke-kirurgisk behandling av cancer.</p>

                    <p><span style="font-weight: bold">Strålningsfysik</span> är främst ansvariga för stårlsäkerheten
                        och den medecintekniska säkerheten på avdelning. Här jobbar läkare, fysiker och ingenjörer för
                        att behandlingarna  ska bli så säkra så möjligt och att alla pasienter ska få sin behandling i
                        tid. Det är här som vi tekniksprångare befinner oss.</p>
                     <br>
                    <p>Avdelningen är delaktiga i flera nationella och internationella forskningsprojekt för att driva
                        utvecklingen framåt. Bland annat så var SUS strålfysikavdelning i Malmö först med att använda
                        sig av <span style="font-style:italic">gating</span>. En metod kopplad till patientens andning
                        under stålbehandlning, främst vid bröstcancer, med syfte att minska stråldosen till hjärtat.
                        Stålfysikavdelningen på SUS bedriver också i en forskningsstudie tillsammans med University of
                        Oxford om FLASH - en ny, mer effektiv strålbehandlingsmetod. Patienten är då tänkt att få en väldigt
                        kort strålbehandling på 70-90 Gy/sekund, till skillnad från en idag "vanlig" behandling som
                        pågår i flera minuter och med en stråldos på ca. 8 Gy/sekund.</p>
                    <br><br>
                    <h2>Univeristetssjukhus</h2>
                    <p>SUS är som namnet antyder ett universitetssjukhus. Detta innebär en skyldighet att bedriva
                        forskning samt att vara en föregångare med nya metoder och tenik. SUS har därför ett tätt
                        sammarbete med Lunds universitet och bedriver mycket forskning kopplad till patientnära klinisk
                        verksamhet. Nationellt högspecialiserad vård (NHV) är vård av ovanliga sjukdomstillstånd som
                        kräver spetskompetens. NHV-uppdragen är centerarade till max fem sjukhus i Sverige och
                        finansieras nationellt. SUS har idag ett tjugotal olika NHV-uppdrag.</p>
                    <p>Att sjuhuset också bedriver strålbehandling på ett antal olika maskiner, från olika producenter,
                        är också ett av sjukhusets del i att vara ett universitetssjukhus.</p>
                    <br><br>
                    <h2>Yrkesgrupper</h2>
                    <p>På Strålfysiken finns främst fem olika yrkesgrupper - läkare, sjukskötersor, dosplanerare, sjukhusfysiker och ingenjörer.</p>
                    <p><span style="font-weight: bold">Läkarna</span> sätter diagnosen på patienterna, ordinerar en
                        behandling samt godkänner dosplanen ur en biologisk aspekt.</p>
                    <p><span style="font-weight: bold">Dosplanerarna</span> kommer utifrån läkarens ordination att göra
                        en dosplan, alltså en plan för hur patienten ska behandlas - var ska strålningen komma och
                        vilken form ska den ha. Här tas även hänsyn till riskorgan, det är alltså både tumören och
                        riskorganen som ska ha rätt dos. Dosplanerare kan vara antingen sjukhusfysiker eller sjuksköterskor.</p>
                    <p><span style="font-weight: bold">Sjukhusfysikerna</span> har dels sista gokänandet av dosplaner,
                        efter läkarna. Dels ska de kontrollera att bilderna som tas på patienten innan bahandlingen
                        startar överensstämmer med bilderna som tas inför varje enskilt behandlingstillfälle. De kan
                        även bli inringda att behöva hjälpa till vid själva behanlingstillfället, om det är något vid
                        uppläggningen av patienten som inte stämmeröverens med tidigare bilder. Fysikerna ansvarar också
                        för mätningar och kalibreringar på maskinen. Det är väldigt viktigt att dessa är korrekta då det
                        påverkar hela behandlingarna.</p>
                    <p><span style="font-weight: bold">Sjuksköterskorna</span> är de som sköter behandlingarna. De tar
                        emot och lägger upp patienterna så att det överensstämmer med tidigare tagna bilder, samt
                        startar och kontrollerar hela behandlingen.</p>
                    <p><span style="font-weight: bold">Ingenjörerna</span> ansvarar för att hålla maskinerna fungerande
                        både genom servicar och annat förebyggande arbete, men också genom att finnas tillgängliga för
                        mer aktuta driftstopp under behandlingstiderna. De måste alltså förstå hur maskinerna funkar för
                        att snabbt skaffa sig en uppfattning av vad som är fel och återgärda det.</p>
                    <br>
                </div>
            </div>

            <div class="sidebar">
                <h3>Info</h3>
                <table class="table table-borderless">
                    <p class="underrubrik">Strålningsfysik</p>
                    <tbody>
                    <tr>
                        <th scope="row" class="fakta">Antal ingenjörer:</th>
                        <td>10</td>
                    </tr>
                    <tr>
                        <th scope="row" class="fakta">Antal sjukhusfysiker:</th>
                        <td>36</td>
                    </tr>
                    <tr>
                        <th scope="row" class="fakta">Antal maskiner</th>
                        <td colspan="2">10</td>
                    </tr>
                    </tbody>

                </table>
            </div>
            </div>


        <br>



        <div class="body-section">

            <div class="main-body">
                <div style="max-width:90%">
       <hr>
                    <h2>Region Skåne</h2>
                    <p>Region Skåne inrättades år 1999 genom en sammanslagning av landstingen i dåvarande Skåne
                        respektive Halland Län, samt Malmö kommun. Det är en politisk styrd organisation som främst
                        avsvarar för hälso- och sjukvåden, men även för kollektivtrafik och kultur. Region Skåne täcker
                        idag totalt 33 kommuner i Skåne och Halland och bedriver sjukvård på åtta olika sjukhus.
                        Däribland på SUS, regionens enda universitetssjukhus.</p>

                </div>
            </div>
            <div class="sidebar">
                <h3>Info</h3>
                <table class="table table-borderless">
                    <p class="underrubrik">Region Skåne</p>

                    <tbody>
                    <tr>
                        <th scope="row" class="fakta">Antal sjukhus:</th>
                        <td>8</td>
                    </tr>
                    <tr>
                        <th scope="row" class="fakta">Antal anställda:</th>
                        <td>~36 000</td>
                    </tr>
                    <tr>
                        <th scope="row" class="fakta">Universitetssjukhus</th>
                        <td colspan="2">1</td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </center>
</div>
<br><br>



<div onclick="scrollToTop()" class="scrollTop">TILL TOPPEN</div>



<script>
    function scrollToTop(){
        window.scrollTo(0, 0);
}
</script>

{% endblock %}

