{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
    p{
        width: 60%;
        text-align:left;
    }

     @media(max-width: 600px){
        p{
            width: 80%;
        }
    }

</style>


<center>    <h1 class="display-2">Webkameran</h1>

    <br>
    <img src="{% static 'home_page/project-images/webkameran/Webkamera+dator - kamera ljus.jpg' %}" style="max-width: 70%; height: auto;"
         alt="Bild på webkameran och Linuxdatorn">
    <p style="text-align: right; max-width: 70%; font-style: italic">Webkameran (på ett 3D-printat stativ) och Linuxdatorn</p>
    <br><br><br>
    <h2>Vår uppgift</h2>
    <p> Webkameran var det avslutande steget i dragskåp-projektet. Printerrummet som tandspacerna skrivs ut i
        ligger på andra sidan byggnaden och tar ungefär 5 minuter att gå till. När man har utskrifter på över flera timmar
        är det viktigt att ha koll så att utskriften inte förstörs. Därför behövdes det en kamera som stod inuti
        dragskåpet och som kunde streama videon upp till våra kontor. Till detta ändamålet utformade vi webkamera-projektet.
    </p>
    <br><br>

    <h2>Vår tanke och genomförandet</h2>
    <p><span style="font-style: italic">Linuxdatorn: </span>All programmering skedde på en enkortsdator baserad på operativsystemet
        Linux. Enkortsdatorer är praktiska för projekt likt detta då det inte krävs någon kraftig hårdvara för att klara av
        de programmen som behövdes för projektet.
    </p>
    <p><span style="font-style: italic">Websidan: </span>Ingen av oss hade tidigare arbetat med någon form av programmering eller
        websidedesign. Så vi fick börja helt från början med att följa tutorials i YouTube, först
        med "vanlig" programmering i Python och senare hur man bygger en hemsida med Django. Från vår hemsida ville vi
        att man skulle kunna både streama videon och starta och stänga av kameran. Det blev en rätt simpel hemsida med
        en ruta för videon, en på-knapp, en av-knapp och en status-knapp. När väl layouten var skapad var det dags att
        skriva koden till knapparna så att de gör det de ska. Det tog ett tag, men så småningnom fungerade allt som vi
        vill. "PÅ"-knappen startade kameran och gjorde att videon började streamas i rutan. "AV"-knappen stängde av kameran
        och streamingen samt raderade alla filer, så att streamen skulle vara live även nästa gång kameran startades.
        Status-knappen visade "PÅ" om kameran var på och "AV" om kameran var av.</p>
    <p><span style="font-style: italic">Nätverket: </span>När väl websidan och den grundläggande programmeringen var klar behövdes
        datorn kopplas upp till det interna nätverket. Den processen sköttes huvudsakligen av IT-avdelningen på sjukhuset
        då nätverkssäkerheten här sköts av dem. Det skulle vara en stor säkerhetsrisk om man lät vilken dator som helst
        kopplas upp på nätverket. Därför behövde vi bara skicka MAC-adressen på datorn till dem, en "kod" som är unik
        för just den datorn, och vänta någon dag för att allt skulle föras in i systemen.
    </p>
    <p><span style="font-style: italic">Stativet: </span>För att kameran skulle kunna se in i 3D-printern var den
        tvungen att komma upp en bit. Detta löste vi genom att designa ett stativ i Fusion360 som vi sedan printade ut
        i vår stora, "vanliga" 3D-printer.</p>
    <br><br>

    <h2>Resultatet</h2>
    <br>
    <img src="{% static 'home_page/project-images/webkameran/BenjaminWebkamera.jpg' %}" style="max-width: 70%; height: auto;"
         alt="Bild på den färdiga hemsidan">
    <p style="text-align: right; max-width: 70%; font-style: italic">Benjamin kontrollerar så att kameran fungerar</p>
    <br>
    <p>Slutprodukten blev en hemsida varifrån man kan kontrollera kameran genom det interna nätverket. Nu kan man
        se i reealtid när printern är igång och skriver ut.</p>
    <br><br>

</center>


{% endblock %}
