{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
    p{
        max-width: 60%;
    }

</style>


<center>    <h1 class="display-2">Vår egen hemsida</h1>

    <br>
    <img src="{% static 'home_page/carousel-images/slide2.png' %}" style="max-width: 70%; height: auto;"
         alt="Bild på det färdiga dragskåpet">
    <p style="text-align: right; max-width: 70%; font-style: italic">Hemsidan under utveckling</p>
    <br><br><br>
    <h2>Vår uppgift</h2>
    <p>Hemsidan var en av våra egna idéer för att sprida kunskap om Tekniksprånget, samtidigt som vi får visa upp vad vi
        har gjort under vår tid här på Strålningsfysik. </p>
    <br><br>

    <h2>Vår tanke och genomförandet</h2>
    <p>Hur vi tänkte och genomförde uppgiften</p>
    <br><br>

    <h2>Resultatet</h2>
    <p>Hur det gick</p>
    <br><br>

</center>


{% endblock %}
