{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
    p{
        width: 60%;
    }
    a{
        color: purple;

    }
    a:hover{
        color: #eacef4;
    }

      @media(max-width: 600px){
        p{
            width: 80%;
        }
    }

</style>


<center>    <h1 class="display-2">Vår egen hemsida</h1>

    <br>
    <img src="{% static 'home_page/carousel-images/slide2.png' %}" style="max-width: 70%; height: auto;"
         alt="Bild på det färdiga dragskåpet">
    <p style="text-align: right; max-width: 70%; font-style: italic">Hemsidan under utveckling</p>
    <br><br><br>
    <h2>Vår uppgift</h2>
    <p> Som Tekniksprångare har man i uppgift att nå ut till unga om sin praktik och ingenjörsyrket. När vi började fundera
        över hur vi skulle göra det kläcktes idéen för denna hemsida. Genom att skapa en hemsida kan man nå ut till alla
        de som är uppkopplade på nätet och samtidigt konkret visa upp vad vi lärt oss och vad vårt arbete här gått ut på.
    </p>
    <br><br>

    <h2>Vår tanke och genomförandet</h2>
    <p> Vi hade liite grundkunskap om hur man bygger en hemsida sedan vi gjorde kontrollpanelen till
        <a href="/webkamera">webkameran</a>, men utöver det var vi helt nybörjare. Därför fick vi själva lära oss hur man
        både bygger och designar en mer avancerad hemsida, en process som både varit frustrerande och lärorik. Allt eftersom
        problem dök upp fick vi antingen tänka om eller hitta en lösning, men oavsett fick vi en djupare inblick i
        processen av webdesign. Så här i efterhand var det faktiskt väldigt kul.
    </p>
    <p><span style="font-style: italic">Hemsidan: </span>Eftersom att det var mycket nytt så fick vi börja med
        att följa en tutorial för att skapa alla grundinställningar för en hemsida. Vi lärde oss hur man använder Django,
        en webframework baserat på programmeringsspråket python, och hur man använder html-filer för att skapa olika
        delar av en sida. Bilden överst på denna sidan visar hur hemsidan såg ut de första dagarna, när grunderna var på
        plats. Sedan började vi designa hemsidan sådan att funktionerna vi ville att den skulle ha fungerade och att den
        estetiskt var godtagbar. Denna delen av utvecklingen tog längst tid och det var mycket att pröva oss fram - men
        efter hand som vi lärde oss mer så gick allt snabbare och snabbare. Vår hemsida växte långsamt fram! Här upptäckte
        vi också GitHub, ett program som gjorde det möjligt att arbeta på samma projekt på olika datorer och samtidigt
        enkelt ladda upp de nya delarna av hemsidan till varandra. Detta underlättade mycket när utvecklingen gick som
        snabbast. När vi kände oss nöjda med hemsidans layout så var sista steget att fylla den med information. Vi höll
        intervjuer och skrev texterna till sidan. Sen var det bara småfix kvar för att se till så att allt funkar som det
        ska. Att få sidan att vara anpassningsbar till mobilformat var något vi inte räknat med och som ledde till mycket
        frustration innan vi till slut förstod hur vi skulle göra.</p>
    <p><span style="font-style: italic">Hosting: </span>Under tiden som hemsidan var under utveckling kollade vi på
        alternativ på hur vi skulle kunna hosta sidan. Det fanns flera olika alternativ, men inget som riktigt funkade
        som vi ville. Till slut hittade vi <span style="font-style: italic">Heroku</span>. Efter att vi kopplat django-projektet till
        en heroku app och fixat några inställningar kunde vi enkelt skicka ut hemsidan på internet, där du nu läser denna text.
    </p>
    <br><br>

    <h2>Resultatet</h2>
    <p> Resultatet ser du framför dig här! Den första versionen av hemsidan som vi känner oss nöjda nog med för att
        dela med allmänheten. Det finns en hel del kvar att göra och snygga till i skrivande stund, men innan praktiken
        är slut ska vi nog kunna ha avslutat detta projektet med stolthet.
    </p>
    <br><br>

</center>


{% endblock %}
